@model IEnumerable<BoardGameLibrary.Models.Copy>

@{
    Layout = null;
}

<h3>Top 10 Longest Checkouts</h3>

<ul class="list-group longest-checkouts-table">
    @foreach (var item in Model)
    {
        
        var timespan = item.CurrentCheckout.Length;
        var checkoutStatusClass = "list-group-item-success";
        if (item.CurrentCheckout.Length > TimeSpan.FromHours(5))
        {
            checkoutStatusClass = "list-group-item-danger";
        }
        else if (item.CurrentCheckout.Length > TimeSpan.FromHours(3))
        {
            checkoutStatusClass = "list-group-item-warning";
        }
        
        <li class="list-group-item @checkoutStatusClass">
            <p class="list-group-item-text">
                @string.Format("{0} ({1}) - {2}d {3}h {4}m - {5} ({6})",
                    item.Game.Title, item.LibraryID,
                    timespan.Days, timespan.Hours, timespan.Minutes,
                    item.CurrentCheckout.Attendee.Name, item.CurrentCheckout.Attendee.BadgeID
                )
            </p>
        </li>
    }
</ul>