@model IEnumerable<BoardGameLibrary.Models.Copy>

@{
    Layout = null;
}

<h3>Top 10 Longest Checkouts</h3>

<table class="table longest-checkouts-table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @{ var timespan = item.CurrentCheckout.Length; }
                @string.Format("{0} ({1}) - {2}d {3}h {4}m - {5} ({6})",
                    item.Game.Title, item.LibraryID,
                    timespan.Days, timespan.Hours, timespan.Minutes,
                    item.CurrentCheckout.Attendee.Name, item.CurrentCheckout.Attendee.BadgeID
                )
            </td>
        </tr>
    }
</table>