<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DefaultConnection"
      connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=GeekwayLibrary;User Id=sa;Password=g33kw4y!"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="ApplicationTitle" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" value="Library Management"/>
    <add key="InstanceColor" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" value="#80c36c" />

    <add key="auth0:Domain" value="geekway.auth0.com" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="auth0:ClientId" value="vLyWBk9cNfz66zHhDMcpi8BwDdSfycX6" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="auth0:ClientSecret" value="2UjD9OTbDk_XfBnwQGdqknX7nbYtUuGhlBmaTxdjh_9CaKELNkGoe60tYvsoPeXe" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>