body {
    padding-top: 50px;
    padding-bottom: 20px;
    counter-reset: item;
}

.list-group-item {
    color: #2f2f2f;
}

.list-group-item-danger {
    background-color: #e98888;
}

.list-group-item-warning {
    background-color: #f2f36f;
}

.list-group-item-success {
    background-color: #94dd8f;
}

em {
    color: #428bca;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: darkslategray;
}

hr {
    border-color: #a4c9d9;
}

.flex-row {
    display: flex;
    justify-content: space-between;
}

.flex-row .check-in-out-block {
    width: 60%;
}

.flex-row .longest-checkouts-block {
    width: 40%;
}

.longest-checkouts-block li::before {
    /*list-style-type: decimal;
    list-style-position: inside;*/
    counter-increment: item;
    content: counter(item);
    font-weight: bold;
    color: dimgrey;
    right: 10px;
    position: relative;
    font-size: 1.1em;
}

.longest-checkouts-block li {
    text-align: left;
}

.bigcheckbox {
    width: 2em;
    height: 2em;
    float: left;
}

.floatleft {
    float: left;
}

.longest-checkouts-table {
    font-size: 0.75em;
}



#btn-clear-checkout-form {
    margin-bottom: 4px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.green-text {
    color: #2e8f4d;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    background-color: #282828;
    font-size: 1.1em;
}

    .navbar div div.navbar-collapse {
        overflow: visible;
    }

    .navbar .navbar-form {
        position: relative;
        overflow: visible;
        white-space: nowrap;
    }

        .navbar .navbar-form input {
            width: 20em;
        }

    .navbar-inverse .navbar-nav a {
        background-color: #282828;
        padding: 10px;
        margin-top: 5px;
        text-align: center;
    }

        .navbar-inverse .navbar-nav a::after {
            background: #45A549;
            position: absolute;
            top: 100%;
            left: 0;
            content: '';
            width: 100%;
            height: 1px;
            opacity: 0;
            transition: opacity 0.3s, transform 0.3s;
            -moz-transition: opacity 0.3s, -moz-transform 0.3s;
            -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
            transform: translateY(-10px);
            -moz-transform: translateY(-10px);
            -webkit-transform: translateY(-10px);
        }

        .navbar-inverse .navbar-nav a:hover::after,
        .navbar-inverse .navbar-nav a:focus::after {
            opacity: 1;
            transform: translateY(0px);
            -moz-transform: translateY(0px);
            -webkit-transform: translateY(0px);
        }

    .navbar-inverse .navbar-nav .active a,
    .navbar-inverse .navbar-nav .active a:hover,
    .navbar-inverse .navbar-nav .active a:focus {
        background-color: #282828;
    }

#copy-quick-search-results {
    position: absolute;
    left: 15px;
    top: 53px;
    width: 160%;
    background-color: rgba(74, 80, 82, 0.90);
    padding: 5px;
}

    #copy-quick-search-results ul {
        list-style-type: none;
        padding-left: 0;
        color: rgba(255, 255, 255, 0.7);
    }

        #copy-quick-search-results ul li {
            border: 1px solid;
            border-radius: 3px;
            margin: 5px;
            padding: 5px;
            background-color: #428bca;
        }

        #copy-quick-search-results ul li strong {
            color: #e1d9c1
        }

        #copy-quick-search-results ul li.success {
            background-color: #2e8f4d;
        }

#SearchString {
    width: 50em;
}

body {
    background: url(/Images/pexels-pieces-bg.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.body-content {
    background-color: rgba(210, 214, 217, 0.82);
}

.label-default {
    background-color: #80c36c;
}

table tr {
    background-color: rgba(255, 255, 255, 0.7);
}

table th, .table-hover > tbody > tr:hover > th {
    background-color: #428bca;
    color: #ffffff;
}

.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th{
    background-color: #f1ebc7;
}

.table-hover > tbody > tr:hover > td {
  background-color: #dcf3e3;
}

.btn-success {
    background-color: #2e8f4d;
    border-color: #397a4e;
}

[class*='close-'] {
  color: #777;
  font: 24px/100% arial, sans-serif;
  font-weight: 600;
  position: absolute;
  right: 30px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  top: 10px;
}

[class*='close-']:hover {
    color: forestgreen;
    text-decoration: none;
}

[class*='close-']:active {
    color: #777;
    text-decoration: none;
}

.close-classic:after {
  content: 'X'; /* ANSI X letter */
}

.content-block {
    border: 1px solid #808080;
    border-radius: 3px;
    margin: 0px 2px;
    padding: 5px;
    text-align: center;
    color: #777;
  
}

.copy-search-results{
    max-height: 100px;
    overflow: auto;
}

#copy-search-wrapper #GameTitle{
    width: 75%;
    margin-left: 60px;
}

/* Fade In */
.fade-in {
    animation: fadeinout 7s;
    -moz-animation: fadeinout 7s; /* Firefox */
    -webkit-animation: fadeinout 7s; /* Safari and Chrome */
    -o-animation: fadeinout 7s; /* Opera */
}

.notification-wrapper {
    min-height: 2em;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.notification-panel {
    color: #3e3e3e;
    background-color: #8fc8e1;
    border: 1px dotted #bee7ee;
    border-radius: 4px;
    padding: 2px;
    opacity: 0;
    text-align: center;
    align-content: center;
}

.notification-panel .notification {
    margin-top: 2px;
    text-align: center;
}

.nav-pills.toggle-tabs li {
    border: 1px solid;
    background-color: #EDEDED;
}

.nav-pills.toggle-tabs li a {
    border-radius: 0;
}

.nav-pills.toggle-tabs li:not(.active):hover, .nav-pills.toggle-tabs li:not(.active) a:hover  {
    background-color: #d3d3d3;
}

.nav-pills.toggle-tabs li:nth-child(1) {
    border-right: 0px;
}

.nav-pills.toggle-tabs li:nth-child(2) {
    border-left: 0px;
    margin-left: 0;
}

/* Animations */
@keyframes fadeinout {
    0%   { opacity:0; }
    25%  { opacity:1; }
    50%  { opacity:1; }
    75%  { opacity:1; }
    100% { opacity:0; }
}
@-moz-keyframes fadeinout { /* Firefox */
    0%   { opacity:0; }
    25%  { opacity:1; }
    50%  { opacity:1; }
    75%  { opacity:1; }
    100% { opacity:0; }
}
@-webkit-keyframes fadeinout { /* Safari and Chrome */
    0%   { opacity:0; }
    25%  { opacity:1; }
    50%  { opacity:1; }
    75%  { opacity:1; }
    100% { opacity:0; }
}
@-o-keyframes fadeinout { /* Opera */
    0%   { opacity:0; }
    25%  { opacity:1; }
    50%  { opacity:1; }
    75%  { opacity:1; }
    100% { opacity:0; }
}


/* Alert messages */
.alert{
    background-color: #f1ecd1;
    color: #dd0d0d;
    border-radius: 20px;
    border: 1px solid #e5c599;
}

/* Utility classes*/
.width50pct{
    width: 50%;
}

/* Media Queries for different screen sizes*/
@media(min-width: 768px){
    .content-block{
        min-height: 200px;
    }
    .minheight{
        min-height: 366px;
    }
}

@media(max-width: 998px){
    .content-block{
        margin-top: 5px;
    }
}