body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    background-color: #282828;
    font-size: 1.1em;
}

body {
    background: url(/Images/GwayLibBgBlue.png), repeat;
}



.body-content {
    background-color: rgba(225, 235, 245, 0.82);
}

table tr {
    background-color: rgba(255, 255, 255, 0.7);
}

.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th{
    background-color: #f1ebc7;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #dcf3e3;
}

.btn-success {
    background-color: #2e8f4d;
    border-color: #397a4e;
}

.content-block {
    border: 1px solid #808080;
    background-color: #ecfff3;
    border-radius: 3px;
    margin: 0px 2px;
    padding: 5px;
    text-align: center;
}

/* Fade In */
.fade-in {
    animation: fadeinout 4s;
    -moz-animation: fadeinout 4s; /* Firefox */
    -webkit-animation: fadeinout 4s; /* Safari and Chrome */
    -o-animation: fadeinout 4s; /* Opera */
}

.notification-wrapper {
    min-height: 2em;
}

.notification-panel {
    color: #3e3e3e;
    background-color: #a2dce6;
    border: 1px dotted #bee7ee;
    border-radius: 4px;
    padding: 2px;
    opacity: 0;
}

.notification-panel .notification {
    margin-top: 2px;
    text-align: center;
}

@keyframes fadeinout {
    0%   { opacity:0; }
    25%  { opacity:1; }
    50%  { opacity:1; }
    75%  { opacity:1; }
    100% { opacity:0; }
}
@-moz-keyframes fadeinout { /* Firefox */
    0%   { opacity:0; }
    25%  { opacity:1; }
    50%  { opacity:1; }
    75%  { opacity:1; }
    100% { opacity:0; }
}
@-webkit-keyframes fadeinout { /* Safari and Chrome */
    0%   { opacity:0; }
    25%  { opacity:1; }
    50%  { opacity:1; }
    75%  { opacity:1; }
    100% { opacity:0; }
}
@-o-keyframes fadeinout { /* Opera */
    0%   { opacity:0; }
    25%  { opacity:1; }
    50%  { opacity:1; }
    75%  { opacity:1; }
    100% { opacity:0; }
}


/* Alert messages */
.alert{
    background-color: #f1ecd1;
    color: #dd0d0d;
    border-radius: 20px;
    border: 1px solid #e5c599;
}

/* Utility classes*/
.width50pct{
    width: 50%;
}