body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    background-color: #282828;
    font-size: 1.1em;
}

body {
    background: url(/Images/GwayLibBgBlue.png), repeat;
}

.body-content {
    background-color: rgba(225, 235, 245, 0.82);
}

.btn-success {
    background-color: #2e8f4d;
    border-color: #397a4e;
}

.content-block {
    border: 1px solid #808080;
    background-color: #ecfff3;
    border-radius: 3px;
    margin: 0px 2px;
    padding: 5px;
    text-align: center;
}