@model BoardGameLibrary.Models.HomeModel

<br /><br />
<h3>Geekway to the West Library Manager <small>@DateTime.Now.Year</small></h3>
<div class="row">
    <div class="col-md-12">
        <div class="content-block">
            <h3>Copy Search</h3>
            <button class="btn btn-lg btn-default">
                Search
            </button>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-6">
        <div class="content-block">
            @Html.Partial("_CopyCheckOut", Model.CheckOut)
        </div>
    </div>
    <div class="col-md-6">
        <div class="content-block">
            @Html.Partial("_CopyCheckIn", Model.CheckIn)
        </div>
    </div>
</div>

