SELECT TOP (1000) [ID]
  FROM [GeekwayLibrary].[dbo].[Plays]

SELECT TOP (1000) [ID]
      ,[Attendee_ID]
      ,[Play_ID]
  FROM [GeekwayLibrary].[dbo].[Players]

SELECT TOP (1000) [ID]
      ,[Value]
      ,[Game_ID]
  FROM [GeekwayLibrary].[dbo].[Ratings]